*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(250,250,250);
}

.container{
    width: 73%;
    margin: auto;
    height: 54px;
}
.navbar{
    width: 100%;
    background-color: white;
    height: 70px;
    border-bottom: 1px solid black;
    /* position: fixed; */
}

.images-bar{
    display: inline-block;
}

.images-bar img{
    padding: 15px;
    /* margin-left: -62px; */
    width: 115px;
}

.search-bar{
    /* display: inline-block; */
    margin-left: 39%;
    margin-top: -53px;
}

.input-search{
    width: 151px;
    height: 27px;
    padding-left: 90px;
}

.icon-bar{
    /* background-color: crimson; */
    width: 252px;
    height: 54px;
    margin-top: -44px;
    float: right;
}

.icon-bar img{
    width: 23px;
    height: 25px;
    margin: 12px;
}

.icon-bar .img-profile{
    border-radius: 16px;
}

.content{
    background-color: blue;
    width: 73%;
    margin: auto;
    height: 800px;
    margin-top: 40px;
}

.content .content-right{
    background-color: yellow;
    width: 350px;
    float: right;
    height: 600px;
}

/* CONTENT RIGHT-TOP */
.content .content-right .content-right-top{
    background-color: green;
    width: 350px;
    height: 150px;
}

.content .content-right .content-right-top img{
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 34px;
    margin-top: 30px;
    margin-right: 27px;
    margin-left: 11px;
}

.content .content-right .content-right-top h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 47px;
}

.content .content-right .content-right-top p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 171px;
}

.content .content-right .content-right-top .button-switch{
    /* background-color: grey; */
    width: 70px;
    height: 70px;
    float: right;
    margin-top: -48px;
    margin-right: -7px;
    padding-top: 23px;
}

.content .content-right .content-right-top .button-switch a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: dodgerblue;
}

/* CONTENT RIGHT - MID */
.content .content-right .content-right-mid{
    background-color: darkorange;
    width: 350px;
    height: 300px;
}

.content .content-right .content-right-mid h2{
    float: left;
    color: grey;
    margin-top: 12px;
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content .content-right .content-right-mid a{
    float: right;
    color: black;
    margin-top: 20px;
    margin-right: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 15px;
    text-decoration: none;
}

.content .content-right .content-right-mid img{
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 34px;
    margin-top: 46px;
    margin-right: 27px;
    margin-left: -144px;
}

/* CONTENT RIGHT-FOOTER */
.content .content-right .content-right-footer{
    background-color: gold;
    width: 350px;
    height: 149px;
}

/* style content-left */
.content .content-left{
    background-color: red;
    width: 1010px;
    float: left;
    height: 600px;
}